/*----------home 版块---------*/
/*前置背景色和背景图片*/
#home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url("../img/home/XiaoXunShi.jpg") center top no-repeat;
  background-size: cover;
  position: relative;
}
/*适应不同屏幕尺寸*/
@media (min-width: 800px) {
  #home {
    background-attachment: fixed;
  }
}
@media (max-height: 640px) {
  #home {
    height: 120vh;
  }
}
/*设置字体*/
#home .home-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#home h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}
@media (max-width: 800px) {
  #home h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
#home p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}
@media (max-width: 800px) {
  #home p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
/*启程按钮的设定*/
#home .btn-get-started {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 5px;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 5px;
  border: 2px solid #fff;
  color: #fff;
}
#home .btn-get-started:hover {
  color: #1dc8cd;
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  background: #fff;
}

/*这些前置图片未必会使用*/
#home .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}
#home .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}
#home .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 30px;
}
#home .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  top: 90px;
}
#home .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(50% - 374px);
  bottom: 0;
  top: 150px;
}
@media (max-width: 800px) {
  #home .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }
  #home .product-screens .product-screen-2, #home .product-screens .product-screen-3 {
    display: none;
  }
}
/*呼吸灯*/
.breathe-div {
    overflow: hidden;
    animation: breathe 1500ms linear infinite alternate;
    -webkit-animation:breathe 1500ms linear infinite alternate;
}
@keyframes breathe{
    0% {
        opacity: 0.8;
        box-shadow: 0 1px 0px white, 0 1px 0px  white inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0 2px 24px white, 0 2px 24px white inset;
    }
} 
@-webkit-keyframes breathe {
    0% {
        opacity: 0.8;
        box-shadow: 0 1px 0px white, 0 1px 0px  white inset;
    }

    100% {
        opacity: 1;
        box-shadow: 0 2px 24px white, 0 2px 24px white inset;
    }
}
/*----------home 版块---------*/


/*---------main section---------*/
/*总体设置*/
section {
  overflow: hidden;
}
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}
.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: italic;
}
/*下划线*/
.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}
.section-bg {
  background: #eff5f5;
}
/*总体设置*/

/*economy 版块*/
#economy {
  padding: 60px 0 0 0;
  overflow: hidden;
  background: white;
}
#economy .section-description {
  padding-bottom: 0px;
}
#economy .economy-img {
  height: 450px;
  width:100%;
  margin:0 auto 30px auto;
  padding: 0 100px; 
  display: block;
  overflow: hidden;
}

/*不同端口图片和外容器的变化*/
@media (max-width: 1000px) {
  #economy .economy-img {
    width:100%;
    padding: 0;
    height:300px;
  }
}
#subEconomy {
  background-color: white;
}
/*economy 版块*/

/*sub 版块*/
#sub {
  overflow: hidden;
  text-align: center;
}

#sub .sub-row {
  padding: 60px 0 30px 0;
}
#sub h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
#sub h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}
#sub h4 {
  font-size: 24px;
 }
#sub .advanced-sub-img-right {
  max-width: 100%;
  float:right;
  padding: 0 0 30px 30px;
}
#sub .advanced-sub-img-left {
  max-width: 100%;
  float:left;
  padding: 0 30px 30px 0;
}

@media (max-width: 800px) {
  #sub .advanced-sub-img-right, #sub .advanced-sub-img-left {
    max-width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }
}

#sub .trend {
display: inline-block;
}

#sub .trend p span:nth-child(1){
  font-size: 3em;
  font-weight: 400;
  color:#002a8f;
}
#sub .trend p span:nth-child(2) {
  font-size: 1em;
  font-weight: 300;
  color:#002a8f
}
#sub .trend p span:nth-child(3){
  font-size: 4em;
  font-weight: 400;
  color:black
}
#sub .trend p span:nth-child(4){
  font-size: 3em;
  font-weight: 400;
  color:#bc002d;
}
#sub .trend p span:nth-child(5){
  font-size: 1em;
  font-weight: 300;
  color:#bc002d;
}
@media (max-width: 800px){
  #sub .trend p span:nth-child(1){
    font-size: 1.5em;
    font-weight: 400;
  }
  #sub .trend p span:nth-child(2) {
    font-size: 0.5em;
    font-weight: 300;
  }
  #sub .trend p span:nth-child(3){
    font-size: 2em;
    font-weight: 400;
  }
  #sub .trend p span:nth-child(4){
    font-size: 1.5em;
    font-weight: 400;
  }
  #sub .trend p span:nth-child(5){
    font-size: 0.5em;
    font-weight: 300;
  }
  #sub h2 {
  font-size: 20px;
  font-weight: 700;
}
  #sub h3 {
  font-size: 12px;
  line-height: 18px;
 } 
  #sub h4 {
  font-size: 14px;
 }  
}
/*sub版块*/

/*SCI 版块*/
#SCI {
  padding: 60px 0 0 0;
  overflow: hidden;
}

#SCI .SCI-row {
  padding: 0px 0 30px 0;
    background: white;
}

#SCI .SCI-row .row > div{
  /*width要与与canvas宽度一致*/
  text-align: center;
}

#SCI .SCI-row .row > div > p {
  font-size:20px;
  font-weight:600;
  padding: 40px 0 0 0px;
  margin:0;
}

#SCI .advanced-SCI-img-middle {
 margin: 0 auto;
 height: 400px;
 width:1200px;
  }  

#SCI .advanced-SCI-img-left {
  max-width: 100%;
}

@media (max-width: 800px) {
  #SCI .advanced-SCI-img-left {
   max-width:90%;
  }
  #SCI .SCI-row .row > div > p {
   font-size:16px;
   font-weight:500;
   padding: 40px 0 0 0px;
 }
  #SCI .advanced-SCI-img-middle {
   height: 200px;
  transition: 3s;
 }
}
/*SCI 版块*/

/*gallery 版块*/
#gallery {
  background: #eff5f5;
  padding: 60px 0 0 0;
  overflow: hidden;
}
#gallery .container-fluid {
  padding: 0px;
}
#gallery .gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}
#gallery .gallery-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
/*处理放大缩小的模糊问题*/
#gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
  padding:30px 30px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#gallery .gallery-item:hover img {
  transform: scale(1.1);

}
#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
/*白色分割线*/
#gallery .gallery-item~div {
  height:2px;
  width:100%;
  border-top: solid white 3px;
}
/*gallery 版块*/

/*people 版块*/
#people{
  padding: 60px 25% 120px 25%;
  overflow: hidden;
  background-color: white;
}
#people .section-description{
  padding-bottom: 0px;
}

.img-bg {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}
.img-bg, .img-bg:hover{
  color:white;
}

@media (max-width: 800px) {
  .img-bg {
    height: 400px;
  }
  #people{
  padding: 60px 0;
}
}
.img-bg:before {
  position: absolute;
  content: "";
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}
.img-bg .img-bg-inner {
  position: relative;
  z-index: 2;
  max-width: 700px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .img-bg .img-bg-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
}
.img-bg .img-bg-inner h2, .img-bg .img-bg-inner p {
  color: var(--color-white);
}
@media (max-width: 500px) {
  .img-bg .img-bg-inner p {
    display: none;
  }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
@media (max-width: 800px) {
  .custom-swiper-button-next,
.custom-swiper-button-prev {
    display: none;
  }
}
.custom-swiper-button-next span,
.custom-swiper-button-prev span {
  font-size: 20px;
  color: rgba(white, 0.7);
  transition: 0.3s all ease;
}
.custom-swiper-button-next:hover span, .custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
  color: white;
}

.custom-swiper-button-next {
  right: 40px;
}

.custom-swiper-button-prev {
  left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(white, 0.8);
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}
/*team 版块*/
#timeline {
  background-color: #eff5f5;
}

/*FAQ 版块*/
#faq {
  padding: 60px 0 240px 0;
  overflow: hidden;

}
#faq .faq-list {
  padding: 0;
  list-style: none;

}
#faq .faq-list li {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding-bottom: 20px;

}
#faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #1dc8cd;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #179ca0;
  transition: 0.3s;
  letter-spacing: 5px;
}
#faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}
#faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
  word-break:break-all;
}
#faq .faq-list .icon-show {
  display: none;
}
#faq .faq-list .collapsed {
  color: black;
}
#faq .faq-list .collapsed:hover {
  color: #1dc8cd;
}
#faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}
#faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}
/*FAQ 版块
/*---------main section---------*/

